demjson==1.6
flask
couchdb==0.8
git+git://github.com/mattvonrocketstein/reporting.git#egg=reporting
git+git://github.com/mattvonrocketstein/corkscrew.git#egg=corkscrew
pygments # required by reporting
Importing==1.10
tornado
